@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:ital@1&display=swap');

* {
    box-sizing: border-box;
}
body {
    background-color: lightgreen;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 60px;
    
}
.container{
    position: relative;
}
.game {
    width: 1200px;
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: lightgreen;
    z-index: 0;

}

button:active {
    background-color: rgba(0, 0, 0, .3);
}

.cards {
    display: flex;
}

h2 {
    color: black;
    font-size: 32px;
    font-weight: bold;
    margin: 30px;
}

.playerCards {
    display: flex;
    
}

.playerCards img, .casinoCards img {
    margin: 30px;
}

.points {
    font-size: 24px;
    color: black;
    margin: 20px;
}

.resultBox {
    padding: 10px;
    border-radius: 5px;
}

