@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:ital@1&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    height: 100vh;
    font-size: 24px;
}

button {
    font-family: inherit;
}

input {
    max-width: 300px;
}

label {
    color: #545050;
    font-size: 22px;
}

.hint {
    color: #545050;
}